@import url(https://fonts.googleapis.com/css?family=PT+Sans);

html {
  font-size: 10px;
}

body {
  margin: 0;
  background-color: #222;
  font-family: "PT Sans", sans-serif;
  font-size: 1.6rem;
  color: #fff;
}
